@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body {
    background-color: rgb(210, 243, 255);
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}
#main-clock {
    font-size: 5vw;
}
#stopwatch, #timer {
    font-size: 18vw;
}
.clock {
    display: flex;
}
.clock-timer {
    opacity: 0.5;
    display: none;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
     -ms-transition: opacity 2s ease-in;
      -o-transition: opacity 2s ease-in;
         transition: opacity 2s ease-in;
}
.clock, .clock-timer {
    margin: 2%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:grey;
}
* {
    font-family: sans-serif, Verdana;
    font-weight: lighter;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
    caret-color: transparent;
    text-shadow: 0 0 1.4rem rgb(131, 123, 255);
    -webkit-text-stroke: 2px rgb(131, 123, 255);
}
.tab-btn {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 1.2rem;
    height: 10vh;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    opacity: 0.5;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
    text-transform: lowercase;
    letter-spacing: 1px;
  }
.tab-btn:hover {
    opacity: 1;
}
.tab-btn.active {
    opacity: 1;
}
.tab-bar {
    display: flex;
}
.centerBtn {
    font-size: 1rem;
    display: inline-block;
    background: none;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    margin: 0 30px;
    padding: 2px 5px;
    width: 100px;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;
}
.wrapper {
     display: flex;
     justify-content: center;
     width:100%;
 }
#stopwatch-table {
    display: flex;
    justify-content: center;
    text-align: right;
    font-size: 1rem;
    margin: 3% 3%;
    border-spacing: 1.2rem 0;
}
.stopwatch-row {
    font-size: 1.1rem;
    font-weight: bold;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container textarea {
    width: 100%;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
    height: 1.2rem;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #0041ff;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #860009;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}